{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Менеджер заметок</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css.css' %}">
</head>
<body>
    <div class="top-bar">
    {% if user.is_authenticated %}
        <a id="exitt" href="/auth/logout/">Выйти {{ user.username }}</a>
        <a href="/" id="mng">Менеджер заметок</a>
    {% else %}
        <a id="exitt" href="/auth/login/">Войти</a>
    {% endif %}
    </div>
    <div class="notes">
        {% block notes %}{% endblock %}
    </div>
    <div class="note">
        {% block note %}{% endblock %}
    </div>
    <div>
        {% block login %}{% endblock %}
    </div>
    <div>
        {% block register %}{% endblock %}
    </div>
</body>
</html>