{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Менеджер заметок</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css.css' %}">
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"></script>
</head>
<body>
    <div class="top-bar">
    <p>{{ user }}</p>
        {% if user.is_authenticated %}
            <a id="exitt" href="/auth/logout/">Выйти {{ user.username }}</a>
        {% endif %}
         <a id="mng" href="/">Менеджер заметок</a>
    </div>
    <div class="notes" >
        {% block notes %}{% endblock %}
    </div>
    <div>
        {% block login %}{% endblock %}
    </div>
    <div>
        {% block register %}{% endblock %}
    </div>
</body>
</html>